@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: 269deg 91% 41%;
    --color-brand-100: 257deg 71% 42%;
    --color-brand-foreground: 0deg 0% 100%;

    --color-background: 0deg 0% 100%;
    --color--foreground: 0deg 0% 0%;

    --color-special: 43deg 100% 50%;
  }
}
