@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 269deg 91% 41%;
    --color-primary-2: 257deg 71% 42%;
    --color-primary-foreground: 0deg 0% 100%;

    --color-background: 0deg 0% 100%;
    --color-special: 43deg 100% 50%;
  }
}
